:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    @apply bg-background-light dark:bg-background-dark text-[#0d121b] dark:text-gray-100;
}