

--CREATE database UTC_DATN;
--GO
--use UTC_DATN

-- ========== Common lookup ==========
CREATE TABLE Skills (
    SkillId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    Name NVARCHAR(200) NOT NULL,
    NormalizedName AS UPPER(LTRIM(RTRIM(Name))) PERSISTED,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_Skills PRIMARY KEY (SkillId),
    CONSTRAINT UQ_Skills_NormalizedName UNIQUE (NormalizedName)
);

CREATE TABLE JobTags (
    TagId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    Name NVARCHAR(100) NOT NULL,
    NormalizedName AS UPPER(LTRIM(RTRIM(Name))) PERSISTED,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_JobTags PRIMARY KEY (TagId),
    CONSTRAINT UQ_JobTags_NormalizedName UNIQUE (NormalizedName)
);

-- ========== Auth / RBAC ==========
CREATE TABLE Users (
    UserId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    Email NVARCHAR(320) NOT NULL,
    NormalizedEmail AS UPPER(LTRIM(RTRIM(Email))) PERSISTED,
    PasswordHash NVARCHAR(500) NOT NULL,
    FullName NVARCHAR(200) NULL,
    Phone NVARCHAR(50) NULL,
    IsActive BIT NOT NULL DEFAULT 1,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    UpdatedAt DATETIME2 NULL,
    CONSTRAINT PK_Users PRIMARY KEY (UserId),
    CONSTRAINT UQ_Users_NormalizedEmail UNIQUE (NormalizedEmail)
);

CREATE TABLE Roles (
    RoleId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    Code NVARCHAR(50) NOT NULL,         -- ADMIN, HR, INTERVIEWER
    Name NVARCHAR(100) NOT NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_Roles PRIMARY KEY (RoleId),
    CONSTRAINT UQ_Roles_Code UNIQUE (Code)
);

CREATE TABLE UserRoles (
    UserId UNIQUEIDENTIFIER NOT NULL,
    RoleId UNIQUEIDENTIFIER NOT NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_UserRoles PRIMARY KEY (UserId, RoleId),
    CONSTRAINT FK_UserRoles_Users FOREIGN KEY (UserId) REFERENCES Users(UserId),
    CONSTRAINT FK_UserRoles_Roles FOREIGN KEY (RoleId) REFERENCES Roles(RoleId)
);

CREATE TABLE RefreshTokens (
    RefreshTokenId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    UserId UNIQUEIDENTIFIER NOT NULL,
    Token NVARCHAR(500) NOT NULL,
    ExpiresAt DATETIME2 NOT NULL,
    RevokedAt DATETIME2 NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_RefreshTokens PRIMARY KEY (RefreshTokenId),
    CONSTRAINT FK_RefreshTokens_Users FOREIGN KEY (UserId) REFERENCES Users(UserId)
);
CREATE INDEX IX_RefreshTokens_UserId ON RefreshTokens(UserId);

-- ========== Jobs ==========
CREATE TABLE Jobs (
    JobId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    Code NVARCHAR(50) NOT NULL, -- JOB-2025-0001
    Title NVARCHAR(300) NOT NULL,
    Department NVARCHAR(200) NULL,
    Location NVARCHAR(200) NULL,
    EmploymentType NVARCHAR(50) NULL, -- Full-time/Part-time/Intern
    SalaryMin DECIMAL(18,2) NULL,
    SalaryMax DECIMAL(18,2) NULL,
    Currency NVARCHAR(10) NULL DEFAULT 'VND',
    Description NVARCHAR(MAX) NULL, -- JD
    Status NVARCHAR(30) NOT NULL DEFAULT 'OPEN', -- OPEN/CLOSED/DRAFT
    CreatedBy UNIQUEIDENTIFIER NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    UpdatedAt DATETIME2 NULL,
    ClosedAt DATETIME2 NULL,
    IsDeleted BIT NOT NULL DEFAULT 0,
    CONSTRAINT PK_Jobs PRIMARY KEY (JobId),
    CONSTRAINT UQ_Jobs_Code UNIQUE (Code),
    CONSTRAINT FK_Jobs_CreatedBy FOREIGN KEY (CreatedBy) REFERENCES Users(UserId)
);
CREATE INDEX IX_Jobs_Status ON Jobs(Status);
CREATE INDEX IX_Jobs_Title ON Jobs(Title);

CREATE TABLE JobSkillMap (
    JobId UNIQUEIDENTIFIER NOT NULL,
    SkillId UNIQUEIDENTIFIER NOT NULL,
    Weight TINYINT NOT NULL DEFAULT 1, -- mức độ quan trọng
    CONSTRAINT PK_JobSkillMap PRIMARY KEY (JobId, SkillId),
    CONSTRAINT FK_JobSkillMap_Jobs FOREIGN KEY (JobId) REFERENCES Jobs(JobId),
    CONSTRAINT FK_JobSkillMap_Skills FOREIGN KEY (SkillId) REFERENCES Skills(SkillId)
);

CREATE TABLE JobTagMap (
    JobId UNIQUEIDENTIFIER NOT NULL,
    TagId UNIQUEIDENTIFIER NOT NULL,
    CONSTRAINT PK_JobTagMap PRIMARY KEY (JobId, TagId),
    CONSTRAINT FK_JobTagMap_Jobs FOREIGN KEY (JobId) REFERENCES Jobs(JobId),
    CONSTRAINT FK_JobTagMap_Tags FOREIGN KEY (TagId) REFERENCES JobTags(TagId)
);

-- ========== Candidates ==========
CREATE TABLE Candidates (
    CandidateId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    Email NVARCHAR(320) NULL,
    NormalizedEmail AS UPPER(LTRIM(RTRIM(Email))) PERSISTED,
    FullName NVARCHAR(200) NULL,
    Phone NVARCHAR(50) NULL,
    Location NVARCHAR(200) NULL,
    Headline NVARCHAR(300) NULL,
    Summary NVARCHAR(MAX) NULL,
    Source NVARCHAR(100) NULL, -- LinkedIn/Referral/CareerSite/Other
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    UpdatedAt DATETIME2 NULL,
    IsDeleted BIT NOT NULL DEFAULT 0,
    CONSTRAINT PK_Candidates PRIMARY KEY (CandidateId)
);
CREATE INDEX IX_Candidates_NormalizedEmail ON Candidates(NormalizedEmail);

-- File storage table (CV/Avatar/Attachments)
CREATE TABLE Files (
    FileId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    Provider NVARCHAR(50) NOT NULL DEFAULT 'LOCAL', -- LOCAL/AZURE/CLOUDINARY
    OriginalFileName NVARCHAR(260) NOT NULL,
    StoredFileName NVARCHAR(260) NOT NULL,
    MimeType NVARCHAR(100) NULL,
    SizeBytes BIGINT NULL,
    Sha256 NVARCHAR(80) NULL,
    Url NVARCHAR(1000) NULL,     -- nếu cloud
    LocalPath NVARCHAR(1000) NULL, -- nếu local
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_Files PRIMARY KEY (FileId)
);

CREATE TABLE CandidateDocuments (
    CandidateDocumentId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    CandidateId UNIQUEIDENTIFIER NOT NULL,
    FileId UNIQUEIDENTIFIER NOT NULL,
    DocType NVARCHAR(30) NOT NULL DEFAULT 'CV', -- CV/AVATAR/OTHER
    ParsedJson NVARCHAR(MAX) NULL, -- kết quả parse (raw)
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_CandidateDocuments PRIMARY KEY (CandidateDocumentId),
    CONSTRAINT FK_CandidateDocuments_Candidates FOREIGN KEY (CandidateId) REFERENCES Candidates(CandidateId),
    CONSTRAINT FK_CandidateDocuments_Files FOREIGN KEY (FileId) REFERENCES Files(FileId)
);
CREATE INDEX IX_CandidateDocuments_CandidateId ON CandidateDocuments(CandidateId);

CREATE TABLE CandidateSkills (
    CandidateId UNIQUEIDENTIFIER NOT NULL,
    SkillId UNIQUEIDENTIFIER NOT NULL,
    Level TINYINT NULL, -- 1..5
    Years DECIMAL(4,1) NULL,
    CONSTRAINT PK_CandidateSkills PRIMARY KEY (CandidateId, SkillId),
    CONSTRAINT FK_CandidateSkills_Candidates FOREIGN KEY (CandidateId) REFERENCES Candidates(CandidateId),
    CONSTRAINT FK_CandidateSkills_Skills FOREIGN KEY (SkillId) REFERENCES Skills(SkillId)
);

CREATE TABLE CandidateExperiences (
    ExperienceId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    CandidateId UNIQUEIDENTIFIER NOT NULL,
    Company NVARCHAR(200) NULL,
    Title NVARCHAR(200) NULL,
    StartDate DATE NULL,
    EndDate DATE NULL,
    Description NVARCHAR(MAX) NULL,
    CONSTRAINT PK_CandidateExperiences PRIMARY KEY (ExperienceId),
    CONSTRAINT FK_CandidateExperiences_Candidates FOREIGN KEY (CandidateId) REFERENCES Candidates(CandidateId)
);
CREATE INDEX IX_CandidateExperiences_CandidateId ON CandidateExperiences(CandidateId);

CREATE TABLE CandidateEducations (
    EducationId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    CandidateId UNIQUEIDENTIFIER NOT NULL,
    School NVARCHAR(200) NULL,
    Degree NVARCHAR(200) NULL,
    Field NVARCHAR(200) NULL,
    StartDate DATE NULL,
    EndDate DATE NULL,
    CONSTRAINT PK_CandidateEducations PRIMARY KEY (EducationId),
    CONSTRAINT FK_CandidateEducations_Candidates FOREIGN KEY (CandidateId) REFERENCES Candidates(CandidateId)
);
CREATE INDEX IX_CandidateEducations_CandidateId ON CandidateEducations(CandidateId);

-- ========== Pipeline / Applications ==========
CREATE TABLE PipelineStages (
    StageId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    Code NVARCHAR(30) NOT NULL, -- NEW_APPLIED/TEST_PASSED/INTERVIEW/OFFER/REJECTED
    Name NVARCHAR(100) NOT NULL,
    SortOrder INT NOT NULL,
    IsTerminal BIT NOT NULL DEFAULT 0,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_PipelineStages PRIMARY KEY (StageId),
    CONSTRAINT UQ_PipelineStages_Code UNIQUE (Code)
);

CREATE TABLE Applications (
    ApplicationId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    JobId UNIQUEIDENTIFIER NOT NULL,
    CandidateId UNIQUEIDENTIFIER NOT NULL,
    CurrentStageId UNIQUEIDENTIFIER NOT NULL,
    AppliedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    LastStageChangedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    ResumeDocumentId UNIQUEIDENTIFIER NULL, -- CandidateDocuments(CV)
    Source NVARCHAR(100) NULL, -- CareerSite/Import/Referral
    Status NVARCHAR(30) NOT NULL DEFAULT 'ACTIVE', -- ACTIVE/WITHDRAWN
    CONSTRAINT PK_Applications PRIMARY KEY (ApplicationId),
    CONSTRAINT FK_Applications_Jobs FOREIGN KEY (JobId) REFERENCES Jobs(JobId),
    CONSTRAINT FK_Applications_Candidates FOREIGN KEY (CandidateId) REFERENCES Candidates(CandidateId),
    CONSTRAINT FK_Applications_Stage FOREIGN KEY (CurrentStageId) REFERENCES PipelineStages(StageId),
    CONSTRAINT FK_Applications_ResumeDoc FOREIGN KEY (ResumeDocumentId) REFERENCES CandidateDocuments(CandidateDocumentId),
    CONSTRAINT UQ_Applications_Job_Candidate UNIQUE (JobId, CandidateId)
);
CREATE INDEX IX_Applications_JobId ON Applications(JobId);
CREATE INDEX IX_Applications_CandidateId ON Applications(CandidateId);

CREATE TABLE ApplicationStageHistory (
    HistoryId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    ApplicationId UNIQUEIDENTIFIER NOT NULL,
    FromStageId UNIQUEIDENTIFIER NULL,
    ToStageId UNIQUEIDENTIFIER NOT NULL,
    ChangedBy UNIQUEIDENTIFIER NULL, -- UserId (HR/Admin) hoặc null nếu system
    Reason NVARCHAR(500) NULL,
    ChangedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_ApplicationStageHistory PRIMARY KEY (HistoryId),
    CONSTRAINT FK_StageHistory_App FOREIGN KEY (ApplicationId) REFERENCES Applications(ApplicationId),
    CONSTRAINT FK_StageHistory_From FOREIGN KEY (FromStageId) REFERENCES PipelineStages(StageId),
    CONSTRAINT FK_StageHistory_To FOREIGN KEY (ToStageId) REFERENCES PipelineStages(StageId),
    CONSTRAINT FK_StageHistory_User FOREIGN KEY (ChangedBy) REFERENCES Users(UserId)
);
CREATE INDEX IX_StageHistory_AppId ON ApplicationStageHistory(ApplicationId);

CREATE TABLE ApplicationNotes (
    NoteId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    ApplicationId UNIQUEIDENTIFIER NOT NULL,
    Note NVARCHAR(MAX) NOT NULL,
    CreatedBy UNIQUEIDENTIFIER NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_ApplicationNotes PRIMARY KEY (NoteId),
    CONSTRAINT FK_ApplicationNotes_App FOREIGN KEY (ApplicationId) REFERENCES Applications(ApplicationId),
    CONSTRAINT FK_ApplicationNotes_User FOREIGN KEY (CreatedBy) REFERENCES Users(UserId)
);
CREATE INDEX IX_ApplicationNotes_AppId ON ApplicationNotes(ApplicationId);

CREATE TABLE ApplicationAiScores (
    AiScoreId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    ApplicationId UNIQUEIDENTIFIER NOT NULL,
    MatchingScore DECIMAL(5,2) NOT NULL, -- 0..100
    MatchedSkillsJson NVARCHAR(MAX) NULL, -- explain / evidence
    Model NVARCHAR(50) NULL, -- gpt-4o-mini / gemini / etc
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_ApplicationAiScores PRIMARY KEY (AiScoreId),
    CONSTRAINT FK_ApplicationAiScores_App FOREIGN KEY (ApplicationId) REFERENCES Applications(ApplicationId)
);
CREATE INDEX IX_AiScores_AppId ON ApplicationAiScores(ApplicationId);

-- ========== Chatbot / Pre-screen ==========
CREATE TABLE ChatSessions (
    ChatSessionId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    ApplicationId UNIQUEIDENTIFIER NOT NULL,
    StartedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    EndedAt DATETIME2 NULL,
    Channel NVARCHAR(30) NOT NULL DEFAULT 'CAREER_SITE', -- CAREER_SITE
    CONSTRAINT PK_ChatSessions PRIMARY KEY (ChatSessionId),
    CONSTRAINT FK_ChatSessions_App FOREIGN KEY (ApplicationId) REFERENCES Applications(ApplicationId)
);
CREATE INDEX IX_ChatSessions_AppId ON ChatSessions(ApplicationId);

CREATE TABLE ChatMessages (
    ChatMessageId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    ChatSessionId UNIQUEIDENTIFIER NOT NULL,
    Sender NVARCHAR(20) NOT NULL, -- CANDIDATE/BOT/HR
    Message NVARCHAR(MAX) NOT NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    MetaJson NVARCHAR(MAX) NULL,
    CONSTRAINT PK_ChatMessages PRIMARY KEY (ChatMessageId),
    CONSTRAINT FK_ChatMessages_Session FOREIGN KEY (ChatSessionId) REFERENCES ChatSessions(ChatSessionId)
);
CREATE INDEX IX_ChatMessages_SessionId ON ChatMessages(ChatSessionId);

CREATE TABLE PreScreenQuestions (
    QuestionId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    Code NVARCHAR(50) NOT NULL,
    Question NVARCHAR(500) NOT NULL,
    AnswerType NVARCHAR(30) NOT NULL DEFAULT 'TEXT', -- TEXT/YESNO/NUMBER/CHOICE
    OptionsJson NVARCHAR(MAX) NULL,
    IsActive BIT NOT NULL DEFAULT 1,
    SortOrder INT NOT NULL DEFAULT 0,
    CONSTRAINT PK_PreScreenQuestions PRIMARY KEY (QuestionId),
    CONSTRAINT UQ_PreScreenQuestions_Code UNIQUE (Code)
);

CREATE TABLE PreScreenAnswers (
    AnswerId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    ApplicationId UNIQUEIDENTIFIER NOT NULL,
    QuestionId UNIQUEIDENTIFIER NOT NULL,
    Answer NVARCHAR(MAX) NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_PreScreenAnswers PRIMARY KEY (AnswerId),
    CONSTRAINT FK_PreScreenAnswers_App FOREIGN KEY (ApplicationId) REFERENCES Applications(ApplicationId),
    CONSTRAINT FK_PreScreenAnswers_Q FOREIGN KEY (QuestionId) REFERENCES PreScreenQuestions(QuestionId)
);
CREATE INDEX IX_PreScreenAnswers_AppId ON PreScreenAnswers(ApplicationId);

-- ========== Assessment ==========
CREATE TABLE QuestionBank (
    BankQuestionId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    Content NVARCHAR(MAX) NOT NULL,
    Type NVARCHAR(30) NOT NULL DEFAULT 'MCQ_SINGLE', -- MCQ_SINGLE/MCQ_MULTI
    Difficulty NVARCHAR(20) NULL, -- EASY/MEDIUM/HARD
    Tags NVARCHAR(300) NULL, -- "Angular,C#,IQ" quick filter (hoặc tách bảng nếu muốn)
    Explanation NVARCHAR(MAX) NULL,
    IsActive BIT NOT NULL DEFAULT 1,
    CreatedBy UNIQUEIDENTIFIER NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_QuestionBank PRIMARY KEY (BankQuestionId),
    CONSTRAINT FK_QuestionBank_User FOREIGN KEY (CreatedBy) REFERENCES Users(UserId)
);

CREATE TABLE QuestionOptions (
    OptionId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    BankQuestionId UNIQUEIDENTIFIER NOT NULL,
    Content NVARCHAR(1000) NOT NULL,
    IsCorrect BIT NOT NULL DEFAULT 0,
    SortOrder INT NOT NULL DEFAULT 0,
    CONSTRAINT PK_QuestionOptions PRIMARY KEY (OptionId),
    CONSTRAINT FK_QuestionOptions_Q FOREIGN KEY (BankQuestionId) REFERENCES QuestionBank(BankQuestionId)
);
CREATE INDEX IX_QuestionOptions_QId ON QuestionOptions(BankQuestionId);

CREATE TABLE Assessments (
    AssessmentId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    Name NVARCHAR(200) NOT NULL,
    Mode NVARCHAR(20) NOT NULL DEFAULT 'FIXED', -- FIXED/RANDOM
    DurationMinutes INT NOT NULL DEFAULT 30,
    PassScore DECIMAL(5,2) NOT NULL DEFAULT 60,
    ShowResultToCandidate BIT NOT NULL DEFAULT 1,
    RandomQuestionCount INT NULL, -- nếu RANDOM
    RandomTags NVARCHAR(300) NULL, -- nếu RANDOM
    IsActive BIT NOT NULL DEFAULT 1,
    CreatedBy UNIQUEIDENTIFIER NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_Assessments PRIMARY KEY (AssessmentId),
    CONSTRAINT FK_Assessments_User FOREIGN KEY (CreatedBy) REFERENCES Users(UserId)
);

CREATE TABLE AssessmentQuestions (
    AssessmentId UNIQUEIDENTIFIER NOT NULL,
    BankQuestionId UNIQUEIDENTIFIER NOT NULL,
    SortOrder INT NOT NULL DEFAULT 0,
    Points DECIMAL(6,2) NOT NULL DEFAULT 1,
    CONSTRAINT PK_AssessmentQuestions PRIMARY KEY (AssessmentId, BankQuestionId),
    CONSTRAINT FK_AssessmentQuestions_A FOREIGN KEY (AssessmentId) REFERENCES Assessments(AssessmentId),
    CONSTRAINT FK_AssessmentQuestions_Q FOREIGN KEY (BankQuestionId) REFERENCES QuestionBank(BankQuestionId)
);

CREATE TABLE AssessmentInvites (
    InviteId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    ApplicationId UNIQUEIDENTIFIER NOT NULL,
    AssessmentId UNIQUEIDENTIFIER NOT NULL,
    Code NVARCHAR(20) NOT NULL, -- mã để vào sảnh chờ
    ExpiresAt DATETIME2 NOT NULL,
    SentToEmail NVARCHAR(320) NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    UsedAt DATETIME2 NULL,
    CONSTRAINT PK_AssessmentInvites PRIMARY KEY (InviteId),
    CONSTRAINT UQ_AssessmentInvites_Code UNIQUE (Code),
    CONSTRAINT FK_AssessmentInvites_App FOREIGN KEY (ApplicationId) REFERENCES Applications(ApplicationId),
    CONSTRAINT FK_AssessmentInvites_Assessment FOREIGN KEY (AssessmentId) REFERENCES Assessments(AssessmentId)
);
CREATE INDEX IX_AssessmentInvites_AppId ON AssessmentInvites(ApplicationId);

CREATE TABLE AssessmentAttempts (
    AttemptId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    InviteId UNIQUEIDENTIFIER NOT NULL,
    StartedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    SubmittedAt DATETIME2 NULL,
    Score DECIMAL(7,2) NULL,
    Passed BIT NULL,
    Status NVARCHAR(20) NOT NULL DEFAULT 'IN_PROGRESS', -- IN_PROGRESS/SUBMITTED/EXPIRED
    CandidateIp NVARCHAR(100) NULL,
    UserAgent NVARCHAR(500) NULL,
    CONSTRAINT PK_AssessmentAttempts PRIMARY KEY (AttemptId),
    CONSTRAINT FK_AssessmentAttempts_Invite FOREIGN KEY (InviteId) REFERENCES AssessmentInvites(InviteId)
);
CREATE INDEX IX_AssessmentAttempts_InviteId ON AssessmentAttempts(InviteId);

CREATE TABLE AssessmentAnswers (
    AnswerId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    AttemptId UNIQUEIDENTIFIER NOT NULL,
    BankQuestionId UNIQUEIDENTIFIER NOT NULL,
    SelectedOptionIdsJson NVARCHAR(MAX) NULL, -- list optionId
    IsCorrect BIT NULL,
    PointsEarned DECIMAL(6,2) NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_AssessmentAnswers PRIMARY KEY (AnswerId),
    CONSTRAINT FK_AssessmentAnswers_Attempt FOREIGN KEY (AttemptId) REFERENCES AssessmentAttempts(AttemptId),
    CONSTRAINT FK_AssessmentAnswers_Q FOREIGN KEY (BankQuestionId) REFERENCES QuestionBank(BankQuestionId)
);
CREATE INDEX IX_AssessmentAnswers_AttemptId ON AssessmentAnswers(AttemptId);

CREATE TABLE AntiCheatEvents (
    AntiCheatEventId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    AttemptId UNIQUEIDENTIFIER NOT NULL,
    EventType NVARCHAR(50) NOT NULL, -- TAB_HIDDEN/FOCUS_LOST/...
    EventAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    MetaJson NVARCHAR(MAX) NULL,
    CONSTRAINT PK_AntiCheatEvents PRIMARY KEY (AntiCheatEventId),
    CONSTRAINT FK_AntiCheatEvents_Attempt FOREIGN KEY (AttemptId) REFERENCES AssessmentAttempts(AttemptId)
);
CREATE INDEX IX_AntiCheatEvents_AttemptId ON AntiCheatEvents(AttemptId);

-- ========== Interviews ==========
CREATE TABLE Interviews (
    InterviewId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    ApplicationId UNIQUEIDENTIFIER NOT NULL,
    Title NVARCHAR(200) NULL, -- "Tech interview"
    ScheduledStart DATETIME2 NOT NULL,
    ScheduledEnd DATETIME2 NOT NULL,
    MeetingLink NVARCHAR(1000) NULL,
    Location NVARCHAR(300) NULL,
    Status NVARCHAR(30) NOT NULL DEFAULT 'SCHEDULED', -- SCHEDULED/DONE/CANCELLED
    CreatedBy UNIQUEIDENTIFIER NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_Interviews PRIMARY KEY (InterviewId),
    CONSTRAINT FK_Interviews_App FOREIGN KEY (ApplicationId) REFERENCES Applications(ApplicationId),
    CONSTRAINT FK_Interviews_User FOREIGN KEY (CreatedBy) REFERENCES Users(UserId)
);
CREATE INDEX IX_Interviews_AppId ON Interviews(ApplicationId);

CREATE TABLE Interviewers (
    InterviewId UNIQUEIDENTIFIER NOT NULL,
    UserId UNIQUEIDENTIFIER NOT NULL,
    RoleInPanel NVARCHAR(50) NULL, -- Lead/Member
    CONSTRAINT PK_Interviewers PRIMARY KEY (InterviewId, UserId),
    CONSTRAINT FK_Interviewers_Interview FOREIGN KEY (InterviewId) REFERENCES Interviews(InterviewId),
    CONSTRAINT FK_Interviewers_User FOREIGN KEY (UserId) REFERENCES Users(UserId)
);

CREATE TABLE InterviewScorecards (
    ScorecardId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    InterviewId UNIQUEIDENTIFIER NOT NULL,
    CriteriaCode NVARCHAR(50) NOT NULL, -- TECH/ATTITUDE/COMMUNICATION...
    CriteriaName NVARCHAR(100) NOT NULL,
    MaxScore INT NOT NULL DEFAULT 10,
    SortOrder INT NOT NULL DEFAULT 0,
    CONSTRAINT PK_InterviewScorecards PRIMARY KEY (ScorecardId),
    CONSTRAINT FK_InterviewScorecards_Interview FOREIGN KEY (InterviewId) REFERENCES Interviews(InterviewId)
);
CREATE INDEX IX_InterviewScorecards_InterviewId ON InterviewScorecards(InterviewId);

CREATE TABLE InterviewFeedback (
    FeedbackId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    InterviewId UNIQUEIDENTIFIER NOT NULL,
    UserId UNIQUEIDENTIFIER NOT NULL, -- interviewer
    OverallScore DECIMAL(6,2) NULL,
    Recommendation NVARCHAR(30) NULL, -- STRONG_HIRE/HIRE/NO_HIRE
    Notes NVARCHAR(MAX) NULL,
    DetailScoresJson NVARCHAR(MAX) NULL, -- map criteria -> score
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_InterviewFeedback PRIMARY KEY (FeedbackId),
    CONSTRAINT FK_InterviewFeedback_Interview FOREIGN KEY (InterviewId) REFERENCES Interviews(InterviewId),
    CONSTRAINT FK_InterviewFeedback_User FOREIGN KEY (UserId) REFERENCES Users(UserId)
);
CREATE INDEX IX_InterviewFeedback_InterviewId ON InterviewFeedback(InterviewId);

-- ========== Email templates & automation ==========
CREATE TABLE EmailTemplates (
    TemplateId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    Code NVARCHAR(50) NOT NULL, -- INVITE_TEST/INVITE_INTERVIEW/REJECT/OFFER
    Subject NVARCHAR(300) NOT NULL,
    BodyHtml NVARCHAR(MAX) NOT NULL,
    BodyText NVARCHAR(MAX) NULL,
    IsActive BIT NOT NULL DEFAULT 1,
    CreatedBy UNIQUEIDENTIFIER NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_EmailTemplates PRIMARY KEY (TemplateId),
    CONSTRAINT UQ_EmailTemplates_Code UNIQUE (Code),
    CONSTRAINT FK_EmailTemplates_User FOREIGN KEY (CreatedBy) REFERENCES Users(UserId)
);

CREATE TABLE AutomationRules (
    RuleId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    Name NVARCHAR(200) NOT NULL,
    TriggerEvent NVARCHAR(50) NOT NULL, -- e.g. STAGE_CHANGED, TEST_FAILED
    TemplateId UNIQUEIDENTIFIER NOT NULL,
    DelayMinutes INT NOT NULL DEFAULT 0,
    IsActive BIT NOT NULL DEFAULT 1,
    ConditionJson NVARCHAR(MAX) NULL, -- rule conditions
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_AutomationRules PRIMARY KEY (RuleId),
    CONSTRAINT FK_AutomationRules_Template FOREIGN KEY (TemplateId) REFERENCES EmailTemplates(TemplateId)
);

CREATE TABLE EmailQueue (
    EmailQueueId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    ToEmail NVARCHAR(320) NOT NULL,
    ToName NVARCHAR(200) NULL,
    Subject NVARCHAR(300) NOT NULL,
    BodyHtml NVARCHAR(MAX) NOT NULL,
    BodyText NVARCHAR(MAX) NULL,
    Status NVARCHAR(30) NOT NULL DEFAULT 'QUEUED', -- QUEUED/SENT/FAILED/CANCELLED
    RelatedType NVARCHAR(50) NULL, -- Application/Interview/AssessmentInvite
    RelatedId UNIQUEIDENTIFIER NULL,
    ScheduledAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    SentAt DATETIME2 NULL,
    FailReason NVARCHAR(1000) NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_EmailQueue PRIMARY KEY (EmailQueueId)
);
CREATE INDEX IX_EmailQueue_Status ON EmailQueue(Status);
CREATE INDEX IX_EmailQueue_ScheduledAt ON EmailQueue(ScheduledAt);

CREATE TABLE EmailSendLog (
    EmailSendLogId UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    EmailQueueId UNIQUEIDENTIFIER NOT NULL,
    Provider NVARCHAR(50) NOT NULL DEFAULT 'SMTP',
    ProviderMessageId NVARCHAR(200) NULL,
    Result NVARCHAR(30) NOT NULL, -- SENT/FAILED
    Detail NVARCHAR(MAX) NULL,
    CreatedAt DATETIME2 NOT NULL DEFAULT SYSUTCDATETIME(),
    CONSTRAINT PK_EmailSendLog PRIMARY KEY (EmailSendLogId),
    CONSTRAINT FK_EmailSendLog_Queue FOREIGN KEY (EmailQueueId) REFERENCES EmailQueue(EmailQueueId)
);
CREATE INDEX IX_EmailSendLog_QueueId ON EmailSendLog(EmailQueueId);
CREATE TABLE [dbo].[JobTypes] (
    [JobTypeId] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    [Name] NVARCHAR(200) NOT NULL,
    [Description] NVARCHAR(500) NULL,
    CONSTRAINT [PK_JobTypes] PRIMARY KEY CLUSTERED ([JobTypeId] ASC)
);


-- Tạo index cho cột Name để tăng tốc độ tìm kiếm
CREATE NONCLUSTERED INDEX [IX_JobTypes_Name] 
ON [dbo].[JobTypes] ([Name] ASC);

CREATE TABLE [dbo].[InterviewEvaluations] (
    [EvaluationId] UNIQUEIDENTIFIER NOT NULL DEFAULT NEWID(),
    [InterviewId] UNIQUEIDENTIFIER NOT NULL,
    [InterviewerId] UNIQUEIDENTIFIER NOT NULL,
    [Score] INT NOT NULL,
    [Comment] NVARCHAR(MAX) NULL,
    [Result] NVARCHAR(20) NOT NULL,
    [Details] NVARCHAR(MAX) NULL,
    [CreatedAt] DATETIME2(7) NOT NULL DEFAULT SYSUTCDATETIME(),
    
    CONSTRAINT [PK_InterviewEvaluations] PRIMARY KEY ([EvaluationId]),
    CONSTRAINT [FK_InterviewEvaluations_Interview] FOREIGN KEY ([InterviewId]) 
        REFERENCES [dbo].[Interviews]([InterviewId]) ON DELETE NO ACTION,
    CONSTRAINT [FK_InterviewEvaluations_Interviewer] FOREIGN KEY ([InterviewerId]) 
        REFERENCES [dbo].[Users]([UserId]) ON DELETE NO ACTION,
    CONSTRAINT [CK_InterviewEvaluations_Result] CHECK ([Result] IN ('Passed', 'Failed', 'Consider'))
);

-- Tạo index cho tăng tốc query
CREATE NONCLUSTERED INDEX [IX_InterviewEvaluations_InterviewId] 
    ON [dbo].[InterviewEvaluations]([InterviewId]);

CREATE NONCLUSTERED INDEX [IX_InterviewEvaluations_InterviewerId] 
    ON [dbo].[InterviewEvaluations]([InterviewerId]);

ALTER TABLE Jobs
ADD Requirements NVARCHAR(MAX) NULL,
    Benefits NVARCHAR(MAX) NULL,
    NumberOfPositions INT NULL;

ALTER TABLE Candidates
ADD UserId UNIQUEIDENTIFIER NULL;

CREATE NONCLUSTERED INDEX IX_Candidates_UserId
ON Candidates(UserId)
WHERE UserId IS NOT NULL;

ALTER TABLE Candidates
ADD CONSTRAINT FK_Candidates_Users_UserId
FOREIGN KEY (UserId) REFERENCES Users(UserId)
ON DELETE SET NULL; -- Nếu xóa User, set UserId = NULL

ALTER TABLE Applications
ADD ContactEmail NVARCHAR(255) NULL;

ALTER TABLE Applications
ADD ContactPhone NVARCHAR(50) NULL;

-- Thêm cột InterviewerId vào bảng Interviews
ALTER TABLE [Interviews]
ADD [InterviewerId] UNIQUEIDENTIFIER NULL;

-- Tạo Foreign Key liên kết với bảng Users
ALTER TABLE [Interviews]
ADD CONSTRAINT [FK_Interviews_Users_InterviewerId]
FOREIGN KEY ([InterviewerId])
REFERENCES [Users] ([UserId]);

-- Tạo Index để tăng performance
CREATE INDEX [IX_Interviews_InterviewerId]
ON [Interviews] ([InterviewerId]);

ALTER TABLE [Users]
ADD [Avatar] NVARCHAR(MAX) NULL;
ALTER TABLE Candidates
ADD LinkedIn NVARCHAR(MAX) NULL,
    GitHub NVARCHAR(MAX) NULL,
    Avatar NVARCHAR(MAX) NULL;


CREATE TABLE [dbo].[Notifications] (
        [Id]         UNIQUEIDENTIFIER NOT NULL DEFAULT (NEWID()),
        [UserId]     UNIQUEIDENTIFIER NOT NULL,
        [Title]      NVARCHAR (200)   NOT NULL,
        [Message]    NVARCHAR (MAX)   NOT NULL,
        [Type]       NVARCHAR (50)    NOT NULL, 
        [IsRead]     BIT              NOT NULL DEFAULT (0),
        [CreatedAt]  DATETIME2(7)     NOT NULL DEFAULT (SYSUTCDATETIME()),
        [RelatedId]  NVARCHAR (100)   NULL,     
        
        CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED ([Id] ASC),
        CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [dbo].[Users] ([UserId]) ON DELETE CASCADE
    );
    CREATE INDEX [IX_Notifications_UserId] ON [dbo].[Notifications] ([UserId] ASC);
    CREATE INDEX [IX_Notifications_IsRead] ON [dbo].[Notifications] ([IsRead] ASC);

IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[CandidateDocuments]') AND name = 'IsPrimary')
BEGIN
    ALTER TABLE [dbo].[CandidateDocuments] ADD [IsPrimary] BIT NOT NULL DEFAULT 0;
    PRINT 'Da them cot IsPrimary';
END
IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[CandidateDocuments]') AND name = 'DisplayName')
BEGIN
    ALTER TABLE [dbo].[CandidateDocuments] ADD [DisplayName] NVARCHAR(255) NULL;
    PRINT 'Da them cot DisplayName';
END
-- Cập nhật DisplayName mặc định từ OriginalFileName của bảng Files nếu chưa có
UPDATE cd
SET cd.DisplayName = f.OriginalFileName
FROM [dbo].[CandidateDocuments] cd
JOIN [dbo].[Files] f ON cd.FileId = f.FileId
WHERE cd.DisplayName IS NULL;
-- Thêm các cột thông tin công ty vào bảng Users
ALTER TABLE [Users] ADD [CompanyName] nvarchar(max) NULL;
ALTER TABLE [Users] ADD [CompanyWebsite] nvarchar(max) NULL;
ALTER TABLE [Users] ADD [CompanyIndustry] nvarchar(max) NULL;
ALTER TABLE [Users] ADD [CompanyAddress] nvarchar(max) NULL;
ALTER TABLE [Users] ADD [CompanyDescription] nvarchar(max) NULL;
ALTER TABLE [Users] ADD [CompanyLogoUrl] nvarchar(max) NULL;
ALTER TABLE [Jobs] ADD [Deadline] datetime2 NULL;

ALTER TABLE Users
    ADD AvatarUrl NVARCHAR(500) NULL;
ALTER TABLE InterviewEvaluations
    ADD SubmittedById UNIQUEIDENTIFIER NULL;

CREATE TABLE [dbo].[SavedJobs] (
    [SavedJobId]  UNIQUEIDENTIFIER NOT NULL DEFAULT (newid()),
    [CandidateId] UNIQUEIDENTIFIER NOT NULL,
    [JobId]       UNIQUEIDENTIFIER NOT NULL,
    [SavedAt]     DATETIME2(7)     NOT NULL DEFAULT (sysutcdatetime()),

    CONSTRAINT [PK_SavedJobs] PRIMARY KEY ([SavedJobId]),

    CONSTRAINT [UQ_SavedJobs_Candidate_Job] UNIQUE ([CandidateId], [JobId]),

    CONSTRAINT [FK_SavedJobs_Candidates] FOREIGN KEY ([CandidateId])
        REFERENCES [dbo].[Candidates] ([CandidateId]) ON DELETE CASCADE,

    CONSTRAINT [FK_SavedJobs_Jobs] FOREIGN KEY ([JobId])
        REFERENCES [dbo].[Jobs] ([JobId]) ON DELETE CASCADE
);

-- Index để tăng tốc query theo CandidateId
CREATE INDEX [IX_SavedJobs_CandidateId] ON [dbo].[SavedJobs] ([CandidateId]);
CREATE TABLE [dbo].[ActivityLogs](
    [LogId] [int] IDENTITY(1,1) NOT NULL,
    [Type] [nvarchar](50) NOT NULL,
    [Title] [nvarchar](255) NOT NULL,
    [Description] [nvarchar](max) NULL,
    [Timestamp] [datetime2](7) NOT NULL DEFAULT GETDATE(),
    [Icon] [nvarchar](50) NULL,
    [IconColor] [nvarchar](50) NULL,
    [UserId] [int] NULL, 
    [RelatedId] [nvarchar](50) NULL, 
    CONSTRAINT [PK_ActivityLogs] PRIMARY KEY CLUSTERED 
    (
        [LogId] ASC
    )
) ON [PRIMARY];

ALTER TABLE Skills
ADD IsDeleted BIT NOT NULL DEFAULT 0;
ALTER TABLE Users
    ADD LockedAt     DATETIME2 NULL,
        LockedById   UNIQUEIDENTIFIER NULL,
        LockedByName NVARCHAR(255) NULL,
        LockReason   NVARCHAR(500) NULL;

ALTER TABLE Jobs
    ADD ClosedById UNIQUEIDENTIFIER NULL,
        ClosedByName NVARCHAR(255) NULL;
ALTER TABLE [Users]
ADD [AuthProvider] nvarchar(max) NOT NULL DEFAULT N'Local';
CREATE TABLE ApplicationViews (
    ViewId UNIQUEIDENTIFIER PRIMARY KEY DEFAULT NEWID(),
    ApplicationId UNIQUEIDENTIFIER NOT NULL,
    ViewerId UNIQUEIDENTIFIER NOT NULL,
    ViewedAt DATETIME2 NOT NULL DEFAULT GETUTCDATE(),
    CONSTRAINT FK_ApplicationViews_Applications FOREIGN KEY (ApplicationId) REFERENCES Applications(ApplicationId),
    CONSTRAINT FK_ApplicationViews_Users FOREIGN KEY (ViewerId) REFERENCES Users(UserId)
);

ALTER TABLE Applications ADD LastViewedAt DATETIME2 NULL;
ALTER TABLE Applications ADD LastViewedBy UNIQUEIDENTIFIER NULL;
   ALTER TABLE dbo.Applications
    ADD ContactName NVARCHAR(200) NULL;
    ALTER TABLE dbo.Jobs
    ADD ExperienceLevel NVARCHAR(100) NULL;
 ALTER TABLE dbo.Jobs
    ADD SeniorityLevel NVARCHAR(100) NULL;
UPDATE j
SET ExperienceLevel =
    CASE
        WHEN j.Requirements LIKE N'%Kinh nghiệm:%' THEN
            LTRIM(RTRIM(SUBSTRING(
                j.Requirements,
                CHARINDEX(N'Kinh nghiệm:', j.Requirements) + LEN(N'Kinh nghiệm:'),
                CASE
                    WHEN CHARINDEX(CHAR(10), j.Requirements + CHAR(10), CHARINDEX(N'Kinh nghiệm:', j.Requirements)) > 0
                    THEN CHARINDEX(CHAR(10), j.Requirements + CHAR(10), CHARINDEX(N'Kinh nghiệm:', j.Requirements))
                         - (CHARINDEX(N'Kinh nghiệm:', j.Requirements) + LEN(N'Kinh nghiệm:'))
                    ELSE 100
                END
            )))
        ELSE j.ExperienceLevel
    END,
    SeniorityLevel =
    CASE
        WHEN j.Title LIKE N'%Senior%' THEN N'Senior'
        WHEN j.Title LIKE N'%Junior%' THEN N'Junior'
        WHEN j.Title LIKE N'%Intern%' OR j.Title LIKE N'%Thực tập%' THEN N'Intern'
        WHEN j.Title LIKE N'%Lead%' THEN N'Lead'
        WHEN j.Title LIKE N'%Manager%' THEN N'Manager'
        ELSE j.SeniorityLevel
    END
FROM dbo.Jobs j;


-- ========== Seed data (Roles + default stages) ==========
INSERT INTO Roles(Code, Name) VALUES
('ADMIN', 'Admin'),
('HR', 'HR'),
('INTERVIEWER', 'Interviewer'),
('CANDIDATE', 'Candidate');

INSERT INTO PipelineStages(Code, Name, SortOrder, IsTerminal) VALUES
('NEW_APPLIED', 'New Applied', 1, 0),
('TEST_PASSED', 'Test Passed', 2, 0),
('INTERVIEW', 'Interview', 3, 0),
('OFFER', 'Offer', 4, 0),
('REJECTED', 'Rejected', 5, 1);
INSERT INTO JobTypes([JobTypeId], [Name], [Description])
VALUES 
    (NEWID(), N'Full-time', N'Toàn thời gian - Làm việc 8 giờ/ngày, 5 ngày/tuần'),
    (NEWID(), N'Part-time', N'Bán thời gian - Làm việc linh hoạt theo giờ'),
    (NEWID(), N'Contract', N'Hợp đồng - Làm việc theo dự án hoặc thời hạn nhất định'),
    (NEWID(), N'Internship', N'Thực tập - Dành cho sinh viên hoặc người mới'),
    (NEWID(), N'Freelance', N'Tự do - Làm việc độc lập, không ràng buộc thời gian');
GO
INSERT INTO Users (Email, PasswordHash, FullName, Phone, IsActive)
VALUES (
    N'admin@gmail.com', 
    N'$2a$11$VFvAvKDISZxeBBO2CtKfluqMRwN0fNjTShJhWY57VCiNCNvy.5O3K', -- Đây là mã hash mẫu (thường phải sinh từ code)
    N'ADMIN', 
    N'0965376312', 
    1
);
  
-- 2. Insert JobTypes (Loại công việc)
    INSERT INTO JobTypes (JobTypeId, Name, Description) VALUES
    (NEWID(), 'Full-time', 'Full-time employment - Làm việc toàn thời gian'),
    (NEWID(), 'Part-time', 'Part-time employment - Làm việc bán thời gian'),
    (NEWID(), 'Contract', 'Contract work - Làm việc theo hợp đồng'),
    (NEWID(), 'Internship', 'Internship position - Thực tập sinh'),
    (NEWID(), 'Freelance', 'Freelance work - Làm việc tự do'),
    (NEWID(), 'Remote', 'Remote work - Làm việc từ xa');
    

