:host {
  display: block;
  font-family: 'Inter', sans-serif;
  @apply bg-background-light dark:bg-background-dark text-[#0d121b] dark:text-white h-full;
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5);
    border-radius: 20px;
}